@model Dziennik.Models.Przedmiot

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń przedmiot</h2>

<h3>Czy jesteś pewny że chcesz usunąć ten przedmiot?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Wykładowca.Imię)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wykładowca.Imię)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skrót)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skrót)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PunktyECTS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PunktyECTS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
